
body {
 background-color: rgb(6, 29, 57);
  color: #d7dde3;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;


}
img{
    height: 90px;
    width: 200px;
    border-radius: 8px;
    margin-top: 2px;
}
h1{
    font-size: 20px;
    text-align: center;
}
.caixa{
    width:300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    

}